extends _layout.jade
block title
  title googlemaps-scrollprevent.js - Callbacks Example
block content
  h1 Callbacks Example
  script
    :coffee-script
      $ ->
        $("#btn-start").click ->
          $("iframe[src*='google.com/maps']")
            .scrollprevent {
              printLog:true
              onMapLock: ->
                alert "Overlay Showed"
              onMapUnlock: ->
                alert "Overlay Hiden"
            }
            .start()

          $("#btn-stop").click ->
            $("iframe[src*='google.com/maps']").scrollprevent().stop()

        $("#btn-start").trigger "click"
