extends _layout.jade
block title
  title #{baseTitle} DOM Ready Example
block content
  h1 DOM Ready Example
  script
    :coffee-script
      $ ->
        $("#btn-start").click ->
          $("iframe[src*='google.com/maps']")
            .scrollprevent {
              printLog:true
            }
            .start()
                    
          $("#btn-stop").click ->
            $("iframe[src*='google.com/maps']").scrollprevent().stop()
        
        $("#btn-start").trigger "click"

  style.
    .mapscroll-wrap {
      display: block;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }
    .mapscroll-wrap iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
          
