extends _layout.jade
block title
  title googlemaps-scrollprevent.js - Local Text
block localscript
  script(src="../dist/googlemaps-scrollprevent.js")
block content
  h1 Local Test
  script
    :coffee-script
      $ ->    
        $("#btn-start").click ->
          $("iframe[src*='google.com/maps']")
            .scrollprevent {
              printLog:true
            }
            .start()
                    
          $("#btn-stop").click ->
            $("iframe[src*='google.com/maps']").scrollprevent().stop()
        
        $("#btn-start").trigger "click"
