extends _layout.jade
block title
  title #{baseTitle} Multiple Maps
block localscript
  script(src="../dist/googlemaps-scrollprevent.js")
block content
  h1 Multiple Maps
  script
    :coffee-script
      $ ->
        googleMapSelector = $("iframe[id*='gmap-prevent-']")
        $("#btn-start").click ->
          googleMapSelector
            .scrollprevent {
              printLog:true
            }
            .start()
            
          $("#btn-stop").click ->
            googleMapSelector.scrollprevent().stop()
            
        $("#btn-start").trigger "click"

block map
  iframe(id="gmap-prevent-1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12087.746318586604!2d-71.64614110000001!3d-40.76341959999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9610bf42e48faa93%3A0x205ebc786470b636!2sVilla+la+Angostura%2C+Neuqu%C3%A9n!5e0!3m2!1ses-419!2sar!4v1425058155802", width="400", height="300", frameborder="0", style="border:0")
  iframe(id="gmap-no-prevent-1" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJP3Sa8ziYEmsRUKgyFmh9AQM&key=AIzaSyDsAwAZHbdANhtDD6gvCIkOkONgN0B7k1I", width="400", height="300", frameborder="0", style="border:0")
  iframe(id="gmap-prevent-2" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJOwg_06VPwokRYv534QaPC8g&key=AIzaSyDsAwAZHbdANhtDD6gvCIkOkONgN0B7k1I", width="400", height="300", frameborder="0", style="border:0")
