extends _layout.jade
block title
  title #{baseTitle} Start/Stop Example
block content
  script
    :coffee-script
      $ ->
        $("#btn-start").click ->
          $("iframe[src*='google.com/maps']")
            .scrollprevent {
              printLog:true
            }
            .start()

        $("#btn-stop").click ->
          $("iframe[src*='google.com/maps']").scrollprevent().stop()
